body {
	background-color: #90cfff;
}
.fundoFormulario {
	background-color: #6cbfff;
	width: 550px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	box-shadow: 0px 0px 10px #194e77;
}
a:link {
  color: #194e77;
  text-decoration: none;
}
a:visited {
  color: #206aa0;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
input {
	border-radius: 20px;
	border-color: transparent;
	height: 20px;
	padding: 3px;
	width: 500px;
}
input[type=radio], input[type=checkbox] {
	height: 5px;
	width: 5px;
}
input[type=submit] {
	background-color: #194e77;
	width: 100px;
	height: 25px;
	border-radius: 0px;
	padding: 0px;
	color: white;
}
input[type=submit]:hover {
	background-color: #194077;
	box-shadow: 0px 0px 10px #194e77;
}
textarea {
	width: 500px;
	max-width: 593px;
	height: 100px;
	max-height: 100px;
}